<section class="section module-small d-none d-sm-block bg-dark">
<mdb-navbar SideClass="padding0 navbar fixed-top navbar-expand-lg xbg-dark navbar-custom navbar-transparent" [containerInside]="false">
    <logo  style="font-family:Ethnocentric">
        <!-- <img src="./assets/images/g2g-logo2.png"> -->
      <span class="logo"> GEAR  </span><span class="logo2">2</span><span class="logo"> GEAR </span>

    </logo>
    <links style="margin-bottom:-25px">
        <ul class="navbar-nav ml-auto">
          <li id="li-home" class="nav-item waves-light" mdbRippleRadius [ngClass]="{'orange-text': activeMenu=='home'}" routerLink="/home">
            <a class="nav-link">HOME<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              ADMIN<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item" href="#" routerLink="/make">MAKE</a>
                  <a class="dropdown-item" href="#" routerLink="/model">MODEL</a>
                  <a class="dropdown-item" href="#" routerLink="/variant">VARIANT</a>
                  <a class="dropdown-item" href="#" routerLink="/vehicleType">VEHICLE TYPE</a>
                  <a class="dropdown-item" href="#" routerLink="/fuelType">FUEL TYPE</a>
                  <a class="dropdown-item" href="#" routerLink="/transmissionType">TRANSMISSION</a>
                  <a class="dropdown-item" href="#" routerLink="/insuranceType">INSURANCE TYPE</a>
                  <a class="dropdown-item" href="#" routerLink="/insurance">INSURANCE</a>
                  <a class="dropdown-item" href="#" routerLink="/color">COLOR</a>
                  <a class="dropdown-item" href="#" routerLink="/car">CAR</a>
              </div>
          </li>
          <li id="li-home" class="nav-item active waves-light" mdbRippleRadius [ngClass]="{'orange-text': activeMenu=='home'}" routerLink="/home">
            <a class="nav-link">AVAILABLE CARS<span class="sr-only">(current)</span></a>
          </li>
          <li id="li-home" class="nav-item active waves-light" mdbRippleRadius [ngClass]="{'orange-text': activeMenu=='home'}" routerLink="/home">
            <a class="nav-link">SOLD CARS<span class="sr-only">(current)</span></a>
          </li>
          <li id="li-home" class="nav-item active waves-light" mdbRippleRadius [ngClass]="{'orange-text': activeMenu=='home'}" routerLink="/home">
            <a class="nav-link">INVESTOR'S CORNER<span class="sr-only">(current)</span></a>
          </li>
          <li id="li-home" class="nav-item active waves-light" mdbRippleRadius [ngClass]="{'orange-text': activeMenu=='home'}" routerLink="/home">
            <a class="nav-link">CONTACT<span class="sr-only">(current)</span></a>
          </li>
          <li id="li-home" class="nav-item active waves-light" mdbRippleRadius *ngIf="!auth.isAuthenticated()" (click)="!auth.login()" [ngClass]="{'orange-text': activeMenu=='home'}" routerLink="/home">
            <a class="nav-link">LOGIN<span class="sr-only">(current)</span></a>
          </li>
          <li id="li-home" class="nav-item active waves-light" mdbRippleRadius *ngIf="auth.isAuthenticated()" (click)="auth.logout()" [ngClass]="{'orange-text': activeMenu=='home'}" routerLink="/home">
            <a class="nav-link">LOGOUT<span class="sr-only">(current)</span></a>
          </li>
        </ul>
    </links>
</mdb-navbar>
</section>

<!-- <section class="section module-small d-none d-sm-block">
  <mdb-navbar SideClass="navbar fixed-top navbar-custom navbar-expand-lg scrolling-navbar ie-nav navbar-transparent" [containerInside]="false">
    <logo>
      <img src="./assets/images/g2g-logo2.png" xstyle ="width:150px" height="auto">
    </logo>
    <links class="col-12">
      <ul class="navbar-nav xnavbar-flex-icons mr-auto">
        <li id="li-home" class="nav-item active waves-light" mdbRippleRadius [ngClass]="{'orange-text': activeMenu=='home'}" routerLink="/home">
          <a class="nav-link"><span style="font-size:20px">H</span>OME<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="font-size:20px">A</span>DMIN</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#" routerLink="/make">MAKE</a>
            <a class="dropdown-item" href="#" routerLink="/model">MODEL</a>
            <a class="dropdown-item" href="#" routerLink="/variant">VARIANT</a>
            <a class="dropdown-item" href="#" routerLink="/vehicleType">VEHICLE TYPE</a>
            <a class="dropdown-item" href="#" routerLink="/fuelType">FUEL TYPE</a>
            <a class="dropdown-item" href="#" routerLink="/transmissionType">TRANSMISSION</a>
            <a class="dropdown-item" href="#" routerLink="/insuranceType">INSURANCE TYPE</a>
            <a class="dropdown-item" href="#" routerLink="/insurance">INSURANCE</a>
            <a class="dropdown-item" href="#" routerLink="/color">COLOR</a>
            <a class="dropdown-item" href="#" routerLink="/car">CAR</a>
          </div>
        </li>
        <li id="li-home" class="nav-item active waves-light" mdbRippleRadius [ngClass]="{'orange-text': activeMenu=='home'}" routerLink="/home">
          <a class="nav-link"><span style="font-size:20px">A</span>VAILABLE <span style="font-size:20px">C</span>ARS<span class="sr-only">(current)</span></a>
        </li>
        <li id="li-home" class="nav-item active waves-light" mdbRippleRadius [ngClass]="{'orange-text': activeMenu=='home'}" routerLink="/home">
          <a class="nav-link"><span style="font-size:20px">S</span>OLD <span style="font-size:20px">C</span>ARS<span class="sr-only">(current)</span></a>
        </li>
        <li id="li-home" class="nav-item active waves-light" mdbRippleRadius [ngClass]="{'orange-text': activeMenu=='home'}" routerLink="/home">
          <a class="nav-link"><span style="font-size:20px">I</span>NVESTOR'S <span style="font-size:20px">C</span>ORNER<span class="sr-only">(current)</span></a>
        </li>
        <li id="li-home" class="nav-item active waves-light" mdbRippleRadius [ngClass]="{'orange-text': activeMenu=='home'}" routerLink="/home">
          <a class="nav-link"><span style="font-size:20px">C</span>ONTACT<span class="sr-only">(current)</span></a>
        </li>
        <li id="li-home" class="nav-item active waves-light" mdbRippleRadius *ngIf="!auth.isAuthenticated()" (click)="!auth.login()" [ngClass]="{'orange-text': activeMenu=='home'}" routerLink="/home">
          <a class="nav-link" style="color:greenyellow"><span style="font-size:20px">L</span>OGIN<span class="sr-only">(current)</span></a>
        </li>
        <li id="li-home" class="nav-item active waves-light" mdbRippleRadius *ngIf="auth.isAuthenticated()" (click)="auth.logout()" [ngClass]="{'orange-text': activeMenu=='home'}" routerLink="/home">
          <a class="nav-link" style="color:greenyellow"><span style="font-size:20px">L</span>OGOUT<span class="sr-only">(current)</span></a>
        </li>

      </ul>
    </links>
  </mdb-navbar>
</section> -->
