<section class="section module-small" style="margin-top:75px">
  <img src="./assets/images/picture2.jpg" style ="width:100%" xheight="500px">
  <div>
    <!-- <div class="bottom-left">Bottom Left</div>
    <div class="top-left">Top Left</div>
    <div class="top-right">Top Right</div>
    <div class="bottom-right">Bottom Right</div> -->
    <div class="centered-top">
      <!-- <h1 xclass="centered" style="color:white;font-family:Ethnocentric">BUY-SELL-SWAP </h1> -->
      <!-- <h1 xclass="centered" style="color:white;font-family:Ethnocentric">USED CARS AND PREMIUM BICYCLES</h1> -->
    </div>
  </div>
</section>
