<div class="container-fluid">
  <app-header></app-header>
</div>

<div xclass="container" xstyle="margin-top:65px">
    <router-outlet></router-outlet>
</div>
<!-- <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Auth0 - Angular</a>
      <form class="form-inline">
        <button class="btn btn-primary my-2 my-sm-0 mr-2"
          routerLink="/" type="button">
            Home
        </button>

        <button id="qsLoginBtn" *ngIf="!auth.isAuthenticated()"
          class="btn btn-primary my-2 my-sm-0"

          (click)="auth.login()" type="button">
             Log In
        </button>

        <button id="qsLogoutBtn" *ngIf="auth.isAuthenticated()"
          class="btn btn-primary my-2 my-sm-0"

          (click)="auth.logout()" type="button">
            Log Out
        </button>
      </form>
  </div>
</nav>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main> -->
