.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.dashboard_popover > .popup-overlay{
  position:absolute !important;
}

.dashboard_popover > .popup-overlay >.popup-content{
  width:100% !important;

}
.general_skills_popover > .popup-overlay{
  position:fixed !important;
   overflow-y:scroll;
   height:100%;
}

.general_skills_popover > .popup-overlay >.popup-content{
  width:530px !important;
  height: 560px !important;
  border: solid 1.5px #410166 !important;
  background-color: #fbfdfe !important;
  margin-bottom:200px !important;
}
