.header-nav{
  font-family: montserrat-semibold,sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .25rem;
  color: #407e78;
}

.h1-responsive{
  font-family: montserrat-medium,sans-serif;
  font-size: 2.5rem;
  line-height: 1.333;
  color: #fff;
  font-weight: bolder;
}

.h1-responsive2{
  font-family: montserrat-medium,sans-serif;
  font-size: 2rem;
  line-height: 1.333;
  color: #fff;
  font-weight: bolder;
}
.h1-responsive-or{
  font-family: montserrat-medium,sans-serif;
  font-size: 3rem;
  line-height: 1.333;
  color: #fff;
  font-weight: bolder;
  margin-top:100px !important;
}
